.content{
    display:flex;
    justify-content: space-between;
    padding:2rem;
    width:85%;
}
.change_avatar{
    width:10%;
}
.ch_avatar{
    width:100%;
}
.ch_avatar img{
    width:100%;
    margin-bottom:2rem;
}
.btn{
    border:none;
    background-color: white;
    font-family: "Roboto", sans;
    font-weight: 100;
    
    font-size:1.2rem;
    color:rgba(0,0,0,1);
}
.btn:hover{
    color:rgb(0,0,0);
    cursor:pointer;
    text-decoration: underline;
}
.form{
    width:70%;
}
form{
    margin:1rem auto;
    width:80%;
}
input{
    width:100%;
    height:3rem;
    border-radius:5px;
    border:1px solid rgba(0,0,0,0.4);
    margin-bottom:2rem;
    padding:.5rem;
    font-size:1.2rem;
}
h4{
    font-family:"Roboto",sans;
    font-weight: 300;
    color:rgba(0,0,0,0.9);
    font-size:1.5rem;
    margin-bottom:0.5rem;
}
.set_img{
    width:18%;
}
.set_img img{
    width:100%;
}
.sub_btn{
    width:10rem;
    background-color: #20c997;
    float:right;
    border:none;
    font-family:"Roboto",sans;
    font-weight: 400;
    font-size: 1rem;
}
.sub_btn:hover{
    cursor: pointer;
    border:1px solid black;
}
.change_btn{
    color:#444444;
    font-family:"Roboto", sans;
    text-decoration: none;
    font-size:1.2rem;
}
.change_btn:hover{
    text-decoration: underline;
}