body{
    background: #20c997;
}
header{
    width:100%;
    display:flex;
    justify-content: end;
}
.logo{
    width:10%;
    margin-left:1.5rem;
}
.logo img{
    width:70%;
}
h1{
    width:80%;
    text-align: center;
    font-family: "Roboto", sans;
    color:white;
    font-weight: 300;
    margin-top:3rem;
}
h2{
    font-family: "Roboto", sans;
    color:white;
    font-weight: 400;
    text-align: center;
}
.container{
    max-width:1100px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
.cont_left{
    width:60%;
    margin-top:4rem;
}
.cont_right{
    width:35%;
}
.cont_right img{
    width:100%;
}
form{
    display:block;
    margin:3rem auto;
    width:60%;
    
}
input{
    border-radius:5px;
    width:100%;
    padding:10px;
    margin-bottom:1.5rem;
    border:none;
    height:3rem;
    font-family:"Roboto", sans;
}
.sub{
    width:30%;
    margin:2rem auto;
    display:block;
}
.sub:hover{
    cursor:pointer;
}
input:focus{
    border:none;
}
label{
    font-family:"Roboto", sans-serif;
    font-size:1.2rem;
    color:white;
    font-weight:300;
    margin-bottom:.5rem;
}
.errorlist li{
    font-size:1.2rem;
    font-family:"Roboto", sans;
    color: #721c24;
    background-color: #f8d7da;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #f5c6cb;
    border-radius: .25rem;
}
.reset_p{
    font-family:"Roboto", sans;
    font-size:1.1rem;
    text-align: center;
    color:white;
    font-weight:300;
}
._btn{
    width:40%;
    margin:1rem auto;
}
.for_pass{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.0rem;
    text-align: center;
    /* width: 100%; */
    /* margin: 0 auto; */
    margin-top:-1rem;
    display: block;
    text-decoration: underline;
}
.reset_h1{
    width:100%;
}
li{
    font-family:"Roboto", sans;
    font-size:0.8rem;
    color:white;
    font-weight: 300;
}
ul{
    margin:1rem 0;
}
.fix_a{
    font-family: "Roboto", sans;
    color:white;
    text-decoration: underline;
}