{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normilize.css'%}">
    <link rel="stylesheet" href="{% static 'css/main_stat.css'%}">
    {% block style %} {% endblock %}
</head>
<body>
    <header>
        <div class="menu">Menu</div>
        <div class="head">
            <div class="head_logo">
                <a href="{% url 'dashboard' %}"><img src="{% static 'img/Wypter.png'%}" alt="Wypter"></a>
            </div>
            <div class="head_name">
                {%  block userdata %} {% endblock %}
                <a href="{% url 'logout' %}" class="exit">Log out</a>
            </div>
        </div>
    </header>
    {% block content %} {% endblock %}
</body>
</html>