{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter your account</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normilize.css'%}">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'registration' %}">
            <img src="{% static 'img/Wypter.png'%}" alt="Logo">
            </a>
        </div>
        <h1>Welcome back, we are happy to see you</h1>
    </header>
    <div class="container">
        <div class="cont_left">
            <h2>Enter your data:</h2>
            <form action="{% url 'login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                <input type="submit" value="Submit" class="sub">
            </form>
        </div>
        <div class="cont_right">
            <img src="{% static 'img/smile.svg'%}" alt="Coins">
        </div>
    </div>
</body>
</html>