{% extends "base.html" %}
{% load static %}
{% block title %}Change your password{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/setting.css' %}">
<link rel="stylesheet" href="{% static 'css/pass.css' %}">
<style>
     h1,p{
          text-align: center;
     }
     h1{
          font-weight:700;
     }
</style>{% endblock %}

{% block userdata %}
    <span class="userdata">{{ user.username }}</span>
        <div class="avatar">
            <img src="{{ user.profile.photo.url }}" alt="Your avatar">
        </div>
    {% endblock %}
{% block content %}
{% include 'menu.html' %}    
<h1>Password changed</h1>
<p>Your password has been successfully changed.</p>
{% endblock %}

