{% extends "base.html" %}
{% load static %}
{% block title %}Change your password{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/setting.css' %}">
<link rel="stylesheet" href="{% static 'css/pass.css' %}">{% endblock %}

{% block userdata %}
    <span class="userdata">{{ user.username }}</span>
        <div class="avatar">
            <img src="{{ user.profile.photo.url }}" alt="Your avatar">
        </div>
    {% endblock %}
{% block content %}
{% include 'menu.html' %}    
     <h1>Change your password</h1>
     <p>Use the form below to change your password.</p>
     <form method="post">
         {{ form.as_p }}
         <p><input type="submit" value="Change"></p>
         {% csrf_token %}
     </form>
{% endblock %}