{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normilize.css'%}">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'registration' %}">
            <img src="{% static 'img/Wypter.png'%}" alt="Logo">
            </a>
        </div>
        <h1>Forgotten your password?</h1>
    </header>
    <div class="container">
        <div class="cont_left">
            <p class="reset_p">Enter your e-mail address to obtain a new password.</p>
            <form method="post">
                {{ form.as_p }}
                <p><input type="submit" value="Send e-mail" class='_btn'></p>
                {% csrf_token %}
            </form>
        </div>
        <div class="cont_right">
            <img src="{% static 'img/smile.svg'%}" alt="Coins">
        </div>
    </div>
</body>
</html>