{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normilize.css'%}">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'registration' %}">
            <img src="{% static 'img/Wypter.png'%}" alt="Logo">
            </a>
        </div>
        <h1>Reset your password</h1>
    </header>
    <div class="container">
        <div class="cont_left">
            
     {% if validlink %}
         <p class="reset_p">Please enter your new password twice:</p>
         <form method="post">
             {{ form.as_p }}
             {% csrf_token %}
             <p><input type="submit" value="Change password" class="_btn"/></p>
         </form>
     {% else %}
         <p>The password reset link was invalid, possibly because it has
        already been used. Please request a new password reset.</p>
     {% endif %}
        </div>
        <div class="cont_right">
            <img src="{% static 'img/smile.svg'%}" alt="Coins">
        </div>
    </div>
</body>
</html>