{% extends 'base.html' %}
{%load static %}
{%block title%}Wypter main{%endblock%}
{%block content%}
<body>
<div class="container-lg">
    <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">№</th>
            <th scope="col">Category</th>
            <th scope="col">Price $</th>
            <!--th scope="col">Comment</th-->
          </tr>
        </thead>
        <tbody>
          {% for extend in extends %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{extend.category}}</td>
            <td>{{extend.price}} {{wallet.courency}}</td>
            <!--td>{{extend.comment}}</td-->
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

</body>
{% endblock %}
