{% extends 'base.html' %}
{% load static %}
{%block title %}Settings{% endblock %}
    {% block content %}    
    <div class="container-fluid">
        <div class="row">
            <div class="form">
                <form method="post" enctype="multipart/form-data">
                    {{ set_user_form.as_p }}
                    <h4>Change your photo:</h4>
                    <img src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% endif %}" alt="Your avatar">
                    {{ set_prof_form.as_p }}
                    {% csrf_token %}
                    <input type="submit" class="sub_btn" value="Save">
                    
                </form>
                <a href="{% url 'password_change' %}" class="change_btn"">Change password</a>
            </div>
            <div class="set_img">
                <img src="{% static 'img/resume.svg' %}" alt="Settings">
            </div>
        </div>
    </div>
</div>
    {% endblock %}