{%load static%}
<ul class="_menu">
    <li class="menu_li"><a href="main_stat.html"><img src="{% static 'img/home-run.svg'%}" alt="Home"></a></li>
    <li class="menu_li"><a href="pie.html"><img src="{% static 'img/pie-chart.svg'%}" alt="Chart"></a></li>
    <li class="menu_li"><a href="graph.html"><img src="{% static 'img/graph.svg'%}" alt="Chart"></a></li>
    <li class="menu_li"><a href="{% url 'settings' %}"><img src="{% static 'img/gear.svg'%}" alt="Settings"></a></li>
    <li class="menu_li"><a href="#"><img src="{% static 'img/buy.svg'%}" alt="Add expense"></a></li>
    <li class="menu_li"><a href="#"><img src="{% static 'img/coin.svg'%}" alt="Add income"></a></li>
</ul>