{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main statistics</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normilize.css'%}">
    <link rel="stylesheet" href="{% static 'css/main_stat.css'%}">
</head>
<body>
    <header>
        <div class="menu">Menu</div>
        <div class="head">
            <div class="head_logo">
                <img src="{% static 'img/Wypter.png'%}" alt="Wypter">
            </div>
            <div class="head_name">
                {% if request.user.is_authenticated %}
                <span class="userdata">{{ request.user.username }}</span>
                <div class="avatar">
                    <img src="{% static 'img/avatar.png'%}" alt="Your avatar">
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <ul class="_menu">
            <li class="menu_li"><a href="main_stat.html"><img src="{% static 'img/home-run.svg'%}" alt="Home"></a></li>
            <li class="menu_li"><a href="pie.html"><img src="{% static 'img/pie-chart.svg'%}" alt="Chart"></a></li>
            <li class="menu_li"><a href="graph.html"><img src="{% static 'img/graph.svg'%}" alt="Chart"></a></li>
            <li class="menu_li"><a href="{% url 'settings'%}"><img src="{% static 'img/gear.svg'%}" alt="Settings"></a></li>
            <li class="menu_li"><a href="#"><img src="{% static 'img/buy.svg'%}" alt="Add expense"></a></li>
            <li class="menu_li"><a href="#"><img src="{% static 'img/coin.svg'%}" alt="Add income"></a></li>
        </ul>          
        <div class="content">
            <ul class="balance">
                <li class="balance_li">
                    Total saved: 440$
                </li>
                <li class="balance_li">
                    Total spent: 204$
                </li>
                <li class="balance_li">
                    Total income: 1200$
                </li>
            </ul>
            <div class="graphs">
                <div class="graph">

                </div>
                <div class="chpie">

                </div>
            </div>

        </div>
    </main>
</body>
</html>