{% extends 'base.html' %}
{% load static %}
{% block title %} Pie Chart {%endblock%}
{% block content %}
<div class="container-lg">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Expenses by categories</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie">
          <canvas id="myPieChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4>Table of extensions by categories</h4>
  </div>
  <div class="container-lg">
    <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">№</th>
            <th scope="col">Category</th>
            <th scope="col">Price $</th>
            <!--th scope="col">Comment</th-->
          </tr>
        </thead>
        <tbody>
          {% for extend in extends %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{extend.category}}</td>
            <td>{{extend.price}} {{wallet.courency}}</td>
            <!--td>{{extend.comment}}</td-->
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{%endblock%}
{%block script%}
<script type="text/javascript">
        var user_pk = {{request.user.pk}};
        var courency = {%  if wallet.courency == 'UAH' %}'₴'{% elif wallet.courency == 'USD' %}'$'{% elif wallet.courency == 'EUR' %}'€'{% else%}'₽'{%endif%};
      </script>
<script src="{% static 'js/chart-pie.js' %}"></script>
{%endblock%}